@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome To IFK Events</p>

    <a asp-page="/Event" type="button" class="btn btn-primary rounded p-3">Registrera</a>
    <a asp-page="/Event" type="button" class="btn btn-primary rounded p-3">Logga In</a>
</div>
