@page
@model asp_assign_1.Pages.MyEventsModel


<h1>Mina Matcher</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Location</th>
            <th>Date</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Attendee.Events)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Place)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
            </tr>
        }
    </tbody>
</table>